AWS_REGION=eu-north-1
S3_BUCKET_NAME=your-s3-bucket
LOCAL_DATA_DIR=/app/data/sample

SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=DBT_USER
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=FLIGHT_DATA_DEMO
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_PRIVATE_KEY_PATH=/app/keys/dbt_rsa_key.p8
SNOWFLAKE_STAGE_NAME=RAW.FLIGHTS_STAGE
SNOWFLAKE_RAW_TABLE=FLIGHTS

OPENSKY_CLIENT_ID=your_client_id
OPENSKY_CLIENT_SECRET=your_client_secret